.database-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.database-results .title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.database-results .product-block {
    background-color: #9DCFDD;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
