
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body {
    
    margin: 0;
    padding: 0;
    background-image: url("../images/fondo1.png"); /* Ruta de la imagen de fondo */
    background-size: cover; /* La imagen se ajusta para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}

h1, p {
    margin-bottom: 20px;
    font-style: bold;
}

/* Estilos específicos para el contenido */
#titulo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px; /* Agregado margen inferior para separar el título del texto */
}

#sub {
    text-align: left;
    margin-bottom: 10px;
}

#sub2 {
    display: flex;
    margin-bottom: 20px; /* Agregado margen inferior para separar el texto de las imágenes */
}

#sub2 p {
    flex: 1;
    margin-right: 20px;
}

#soldando {
    width: 300px;
    height: auto;
    margin-right: 10px; /* Ajustado margen derecho para separar las imágenes */
}

#madera {
    width: 300px;
    height: auto;
}

/* Estilos para el footer */
footer {
    background: #9DCFDD;
    padding: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}











