/* login.css */

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px; /* Agregamos margen inferior de 10px para separar los botones */
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form .form-footer {
    margin-top: 20px;
    text-align: center;
}

.login-form .form-footer a {
    text-decoration: none;
    color: #007bff;
}

.login-form .form-footer a:hover {
    text-decoration: underline;
}

.login-form .error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.login-form .email-input {
    width: 100%;
}


