.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

/* Eliminar subrayado en enlaces */
a {
  text-decoration: none;
}

/* Eliminar el color azul predeterminado en enlaces */
a:link,
a:visited {
  color: inherit;
}

/* Eliminar el efecto de color al hacer hover sobre enlaces */
a:hover,
a:active {
  color: inherit;
}

/* Estilo para el componente <Link> de React Router */
/* Eliminar subrayado en enlaces */
Link {
  text-decoration: none;
  color: inherit;
}

/* Eliminar el efecto de color al hacer hover sobre enlaces */
Link:hover {
  color: inherit;
}

